<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> Travel Dashboard </title>
</head>

<body>
    <div class="container">
        <tbody>
            <tr>
                <td>
                    {% for message in messages %}
                    <li style="color: blue">{{ message }}</li>{% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="text-align: right" style="margin: 20px"> Hello, {{ user.user_name }}! | <a href="/logout">Log out</a> </h5>
                </td>
            </tr>
        </tbody>
        <h4>Your Trip Schedules</h4>
        <table>
            <thead>
                <th>Desination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
            </thead>
            <tbody>
                {%if travels%} {%for travel in travels%} {%if travel.creator.id == user.id%}
                <tr>
                    <td><a href="/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>
                    <td>{{travel.description}}</td>
                </tr>
                {%endif%} {%for everyuser in travel.join.all%} {%if everyuser.id == user.id%}
                <tr>
                    <td><a href="/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>
                    <td>{{travel.description}}</td>
                </tr>
                {%endif%} {%endfor%} {%endfor%} {%endif%}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">
        <h4>Other User's Travel Plans</h4>
        <table class="table table-bordered">
            <thead>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do You Want to Join?</th>
            </thead>
            <tbody>
                {%if travels%} {%for travel in others%}
                <tr>
                    <td>{{travel.creator.user_name}}</td>
                    <td><a href="/show/{{travel.id}}">{{travel.destination}}</a></td>
                    <td>{{travel.start}}</td>
                    <td>{{travel.end}}</td>

                    {%if user != travel.creator%}
                    <form class="" action="/join/{{travel.id}}" method="POST">
                        {% csrf_token %}
                        <td><input type="Submit" name="join" value="Join"></td>
                    </form>
                    {%endif%}
                </tr>
                {%endfor%} {%endif%}
            </tbody>
        </table>
        <br>

        <button style=" background: #b94646"><a href="/addplan">Add Travel Plan</button>

    </div>
</body>

</html>